<!-- AQUÍ VA EL FORMULARIO PARA EDITAR PRODUCTOS -->
<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- Metadatos: idiomas, adaptabilidad, estilos, tipografías, iconos y título -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/css/productCreate.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="icon" href="/images/icon.png">
        <title>Creación de producto - Animalia</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
        <main>
          <section class="section__container crate__product-section">
             <article class="article__container product__article">
              <div>
                <h3 class="titulares">Formulario para edición y modificación de productos en stock</h3>
                <p>Las caracteristicas ingresadas pueden ser modificadas en cualquier momento</p>
                </div>
                <form action="/products/edit/<%= product.id %>/succed?_method=PUT" method="POST" enctype="multipart/form-data" class="create__product-form">
                  <!-- Nombre del producto -->
                  <br>
                <div>
                  <label for="name" class="form__label">Nombre del producto:</label>
                  <input type="text" name="name" value="<%= product.name%>" placeholder="Complete este campo" class ="form__input"></input>
                  <br>
                </div>
                <br>

                <!-- Categoria del producto -->
                <div>
                  <label for="category" class="form__label" placeholder="Seleccione una categoria">Categoria:</label>
                  <select name="category" id="productCategory" class="form__input">
                    <option value="" selected disabled>Seleccione una categoria</option>
                    <option value="perros">Perros</option>
                    <option value="gatos">Gatos</option>
                    <option value="roedores">Roedores</option>
                    <option value="peces">Peces</option>
                    <option value="ofertas">Ofertas</option>
                  </select>
                </div>
                <br>
                  <!-- Peso de producto -->
                    <div>
                  <label for="weight" class="form__label">Medidas del producto</label>
                  <br>
                  <input type="text" name="weight" value="<%= product.weight %>"class ="form__input" value="<%= locals.oldData? oldData.weight : null%>"><br>
                </div>
                <br>
                  <!-- Img del producto //comprobar  img del producto y ruta//--> 
                  <div>
                  <label for="productImg" class="form__label">Elige una imagen</label>
                  <br>
                  <input type="file" name="thumbnail" id="productImg" class ="form__input" accept="image/*"><br>
                </div>
                <br>
                  <!-- Precio del producto -->
                <div>
                  <label for="price" class="form__label">Precio:</label>
                  <input type="text" name="price" value="<%= product.price %>" id="price" class ="form__input" placeholder="$"></input> <br>
                </div>
                <br>
                <!--Precio del producto con descuento-->
                <div>
                  <label for="discount" class="form__label">Precio con descuento:</label>
                  <input type="text" name="discount" value="<%= product.discount %>" id="discount" class ="form__input" placeholder="$"></input>
                  <br>
                </div>
                  <!-- Descripción del producto -->
                  <div>
                  <label for="productDescription" class="form__label">Escriba una descripción del producto</label>
                  <br>
                  <br>
                  <textarea  maxlength="600" type="text" name="description" value="<%= product.description %>"><%= product.description ? product.description : null%></textarea>
                </div>
                <br>
                  <div>
                  <button type="submit" value="Modificar">Modificar producto </button>
                  <button type="submit" value="Modificar">Baja de producto </button>
                  <a href="/products"> Cancelar </a>
                  </div>
                </form>
             </article>
          </section>
        </main>
        <%- include('../partials/footer.ejs') %>
      </body>

</html>